*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
.font-inter{
  font-family: "Inter", sans-serif;
}

/* universal styles */

.btn{
    align-items: center;
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.btn2{
    font-size: 16px;
    align-items: center;
    padding: 11px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

header{
    width: 100%;
    height: 92px;
}
/* Navigation Start */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.nav-logo img{
    width: 140px;
    height: auto;
}
.menu-item ul{
    display: flex;
    gap: 30px;
}

.menu-item ul li{
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    color: black;
}
/* Navigation end */

/* Banner Section Start */
.banner{
    height: 670px;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../assets/hero-bg.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    margin: 0 auto;
    width: 71%;
    max-width: 1360px;
    text-align: center;
}
.banner-top{
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: black;
}
.banner-top p{
    color: black;
}
.banner-title{
    width: 250px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 16px;
    gap: 5px;
}
.banner-title .circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #30B868;
}

.banner-content h2{
    font-size: 72px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
.banner-content h2 span{
    color: #30B868;
}
.banner-content .b-p{
    color: white;
    margin-bottom: 16px;
}
.banner-btn{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner section end */
/* Notes Section Start */
.notes{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes-content{
    width: 80%;
    max-width: 1360px;
    text-align: center;
}

.note-head h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.note-head p{
    font-size: 16px;
    margin-bottom: 26px;
}

.note-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 300px;
    width: 320px;
    padding: 40px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.cards img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 16px;
}
.cards h4{
    margin-bottom: 16px;
    font-size: 20px;
}

.cards p{
    font-size: 12px;
    margin-bottom: 16px;
    color: #627382;
}

/* Note Section End */
/* Solution Section Start */

.solution{
    height: 540px;
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.solution-container .image1 img{
    height: 400px;
    width: 400px;
}
.solution-content .scp{
    color: #30B868;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 16px;
}
.solution-content h2{
    font-size: 38px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.solution-content p{
    font-size: 12px;
    margin-bottom: 16px;
    color: #627382;
}

.solution-content ul li{
    list-style: none;
    font-size: 12px;
    margin-bottom: 10px;
}
.solution-content ul li .cl{
    color: #30B868;
}

/* Solution Section End */
/* Ready Section Start*/

.ready{
    height: 500px;
}
.ready-container{
    height: 385px;
    width: 80%;
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ready-container h2{
    font-size: 40px;
    margin-bottom: 16px;
}

.ready-container p{
    font-size: 12px;
    margin-bottom: 24px;
    color: #627382;
}
.ready-container div{
    margin-bottom: 16px;
}

/* Ready section End */

/* Footer Start */

footer{
    height: 350px;
    background-color: #001931;
}
.footer-container{
    width: 80%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.foother-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 80px;
    color: white;
}

.foother-logos img{
    height: 60px;
    width: auto;
}
.foother-logos p{
    font-size: 20px;
    margin-bottom: 16px;
}

.foother-logos ul{
    display: flex;
    gap: 16px;
}
.foother-logos ul li{
    list-style: none;
}

.footer-container hr{
    background-color: #E5E7EB;
    margin-bottom: 30px;
    height: 1px;
    border: none;
}

.copyright{
    color: #FAFAFA;
    font-size: 12px;
}